html,body {
margin: 0;
padding: 0;
background-color: #282c34;
color: whitesmoke;
}

.App {
  height: 100vh;
}

/* //////////////////////////////////Nav bar///////////////////////////////////////////////////////// */

.main-div-nav {
  z-index: 50;
  width: 200px;
  margin-top: 50px;
  position: absolute;
}

.sub-div-nav {
width: 120px;
}


.links-div {
  text-decoration: none !important;
  font-size: 27px;
  background-color: lightgreen;
  width: 72px;
  height: 37px;
  color: whitesmoke;
  margin-bottom: 20px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  padding: 5px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 5%;
}

.links-div:hover {
  background-color: lightgreen;
  width: 150%;
  text-align: center;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.links-div p {
  visibility: hidden;
}

.links-div:hover p {
  visibility: visible;
}

.links {
  text-decoration: none !important;
  color: whitesmoke
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

.super-div {
  height: inherit;
}

.main-landing-div {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-image: url("../assets/earth-lights.jpg");
}

.foreground{
  width: 100%;
  top: 120px;
  height: 80vh;
  position: absolute;
  background-image: url("../assets/stars.png");
  background-size: contain;
  	-webkit-animation: moveIt 100s linear infinite;
}

@-webkit-keyframes moveIt {
  from {
    background-position: 0vw;
  }
  to {
    background-position: 100vw;
  }
}

.landing-page-main-title {
text-align: center;
margin-top: 0;
font-size: 160px;
}

.landing-page-skills {
  text-align: center;
  font-size: 30px;
}

.main-portfolio-div {
  background-color: lightgreen;
  height: 100vh;
}

.main-about-div {
  height: 100vh;
}
