html,body {
margin: 0;
padding: 0;
background-color: #282c34;
color: whitesmoke;
}

.App {
  height: 100vh;
}

/* //////////////////////////////////Nav bar///////////////////////////////////////////////////////// */

.main-div-nav {
  z-index: 60;
  width: 200px;
  margin-top: 50px;
  position: fixed;
}

.sub-div-nav {
width: 120px;
scroll-behavior: smooth;
}


.links-div {
  text-decoration: none !important;
  font-size: 27px;
  background-color: #663399;
  width: 62px;
  height: 40px;
  color: whitesmoke;
  margin-bottom: 20px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  padding: 5px;
  position: relative;
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.43);
}

.links-div::after {
  content:"";
  position: absolute; 
  top:0;
  left:100%;
  height:0; 
  width:0; 
  border-width: 25px;
  border-style:solid;
  border-color:#663399;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-right-color:transparent;
  
}

.links-div:hover {
  background-color: #663399;
  width: 150%;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.43);
}

.links-div p {
  visibility: hidden;
}

.links-div:hover p {
  visibility: visible;
}

.links {
  text-decoration: none !important;
  color: whitesmoke
}

/* //////////////////////////////////////////Landing///////////////////////////////////////////////////////// */

.super-div {
  height: inherit;
  overflow-y: scroll;
  scroll-behavior: smooth; 
}

.main-landing-div {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-image: url("../assets/earth-lights.jpg");
}

.foreground{
  width: 100%;
  top: 120px;
  height: 80vh;
  position: absolute;
  background-image: url("../assets/stars.png");
  background-size: contain;
  	-webkit-animation: moveIt 100s linear infinite;
}

@-webkit-keyframes moveIt {
  from {
    background-position: 0vw;
  }
  to {
    background-position: 100vw;
  }
}

.landing-page-main-title {
text-align: center;
margin-top: 0;
font-size: 160px;
text-shadow: 0 0 10px #663399, 0 0 15px black;
}

.landing-page-skills {
  text-align: center;
  font-size: 30px;
}


#wrapper {
  width: 400px;
  height: 267px;
  border-radius: 70px;
  border: 1px solid black;
  overflow:hidden;
  position:relative;
  margin-left: 37%;
  background-color: grey;
}
#image {
  transition: all 1s ease;
  width:100%;
  height:100%;
  font-size: 2px;
  transform: scale(1);
  position:relative;
  left:0;
  top:0;
}
#wrapper:active #image {
  transform: scale(3);
  -webkit-transform: scale(3);
  left:450px;
  font-size: 15px;
  top:270px;
}


/* ///////////////////////////////Portfolio/////////////////////////////// */

.main-portfolio-div {
  background-color:black;
  height: fit-content;
  scroll-behavior: smooth;
  z-index: 50;
  position: relative;
}

.top-portfolio-div {
  height: 324px;
  background:rgb(3, 188, 139);
  display: flex;
  font-size: 25px;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.sub-portfolio-div {
  height: 100%;
    width: 33.33333%;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    display: flex;
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.43);
    position: relative;
}

.overlay {
  opacity:0;
}

.sub-portfolio-div:hover .overlay{
  width: 100%;
  position: absolute;
  transition: .5s ease;
  height: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #663399;    
  border-radius: 5px;
  opacity: 2;
  transform: scale(1.1);
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.43);
}

/* //////////// About////////////////////// */


.about-main-title {
  display: flex;
  bottom: -50px;
  right: 80px;
  position: absolute;
  font-size: 160px;
  text-shadow: 0 0 10px #00ff00, 0 0 15px black;
}

.parent {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.child {
  min-height: 20px;
  padding: 15px;
  transform: skewY(-30deg);
  transition: all 0.2s ease;
  display: flex;
  align-content: center;
  align-items: center;
}

.child:hover {
  height: calc(100% - 40px);
}

.child:hover~.child {
  height: 20px;
}

.child__inner {
  transform: skewY(30deg);
  color: rgb(66,66,66);
  font-size: 30px;
}

.child--top {
  background:rgb(3, 188, 139);
  height: calc(50% - 20px);
  margin-top: calc((693px / 1.33)* -1);
  padding-top: calc((150px / 1.73) * 2);
  display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}

.child--middle {

  display: flex;
  background: dimgray;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 3;

}

.child--bottom {
  background: #663399;
  height: calc(50% - 20px);
  margin-bottom: calc((150px / 1.73)* -1);
  padding-bottom: calc((150px / 1.73) * 3);
  display: flex;
  position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.child--top:hover .about-description {
  display: block;
}

.about-description {
font-size: 22px;
display: none;
width: 840px;
margin-top: 433px;
    padding: 87px;
    padding-right: 585px;
}

.child--middle:hover .about-bot-mid-inner-div {
  display: block;
}

.about-bot-mid-inner-div {
  transform: skewY(30deg);
  display: none;
}

.child--bottom:hover .inner-bot-about-div {
  display: block;
}

.inner-bot-about-div {
  display: none;
  background: blue;
  height: 80%;
  width: 60%;
  margin-top: 70px;
  margin-left: 70px;
  transform: skewY(30deg);
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.43);
  border-radius: 5px;
  background-image: url("../assets/profPic.jpg");
  background-size: cover;
}
 
/* ///////////////////////////////Footer/////////////////////////////// */

.footer-div {
  height: 310px;
  background-color: rgb(3, 188, 139);
}

.icon-finder-main-div {
  display: flex;
  justify-content: space-between;
  width: 400px;
  float: right;
  padding: 38px;
  margin-top: 164px;
}

.icon-finder {
  width: 60px;
  height: 60px;
}

.footer-title {
  font-size: 25px;
  margin: 0;
  padding: 16px 16px 0px 16px;
  display: inline-block;
  width: 300px;
  margin-left: 80px;
  color: rgb(66,66,66);
  font-family: sans-serif;
}

.footer-content-div {
  text-align: center;
  color: rgb(66,66,66);
  font-family: sans-serif;
  font-style: oblique;
}






/* modal */


.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background:rgb(3, 188, 139);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(66,66,66);
  z-index: 100;
}


.modal_close_button {
  float: right;
    height: 40px;
    margin-top: -38px;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
}